body {
  background-color: #454545;
  transition: background-color .5s;

}

h1 {
  font-family: 'Josefin Slab', sans-serif;
  font-size: 40px;
  color: #faffd3;
  padding: 1px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;

}

h2 {
  font-family: 'Josefin Slab', sans-serif;
  font-size: 30px;
  color: #e5ffc7;
  padding: 1px;
  margin-left: 18px;
  margin-right: 18px;
  margin-top: 6px;
  margin-bottom: 6px;

}

p {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: #ffffff;
  padding: 1px;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 4px;
  margin-bottom: 4px;

}

#topic {
  background-color: #454545;
  border: #44563e 2px outset;
  border-radius: 6px;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  color: #ffffff;
  margin-left: 30px;
  margin-right: 10px;
  padding: 4px;

}

#submit {
  background-color: #454545;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  color: #ffffff;
  padding: 4px;
  border: #44563e 2px outset;
  border-radius: 6px;
}

#output {
  border: #44563e 2px outset;
  border-radius: 6px;
  min-height: 100px;
  margin: 10px;
  padding: 2px;

}

.content {
  border: #44563e 2px inset;
  border-radius: 6px;
  margin-top: 12px;

}

#maincolumn {
  margin-right: 25%;
  margin-left: 25%;
  margin-top: 5%;

}
