body {
  background-color: #dbc3b6;

}

h1 {
  font-family: "Cinzel", serif;
  padding: 20px;
  color: aquamarine;
  margin-left: 10%;

}

#title {
  font-family: "Cinzel", serif;
  text-align: center;
  font-size: 40px;
  color: firebrick;

}

h2 {
  font-family: "Cinzel", serif;
  padding-left: 30px;
  color: cornsilk;

}

#titlenames {
  font-family: "Cinzel", serif;
  padding-left: 30px;
  color: cornsilk;
  text-align: center;

}

pre {
  font-family: "Courier new", Monospace;
  font-size: 14px;
  color: firebrick;
  border-style: double;
  padding: 20px;
  border-width: 10px;
  border-color: cornsilk;
  margin-left: 10%;
  margin-right: 10%;
  width: 80%;

}

p {
  font-family: "Courier new", Monospace;
  font-size: 18px;
  padding-left: 40px;
  padding-right: 40px;
  color: firebrick;
  border-style: double;
  padding: 10px;
  border-color: cornsilk;
  border-width: 10px;
  margin-left: 10%;
  margin-right: 10%;
  width: 80%

}

#right {
  float: right;
  font-family: "Courier new",monospace;
  padding-left: 20px;
  color: aquamarine;

}

img {
  padding: 10px;
  border-style: double;
  border-image-width: 10px;
  border-width: 10px;
  border-color: cornsilk;
  width: 80%;
  height: auto;
  margin-top: 10px;
  margin-left: 10%;
  margin-right: 10%

}

#gif {
  width: 10%;
  height:auto;
  margin-left: 45%
}
