h1 {
  color: #59103e;
  text-align: center;
  font-size: 100%;
  font-family: 'Ultra', serif;

}

h2 {
  color: #59103e;
  text-align: center;
  font-size: 300%;
  font-family: 'Ultra', serif;

}

p {
  color: #59103e;
  text-align: center;
  font-size: 100%
  font-family: "Quicksand", sans-serif;

}

li {
  list-style-type: none;
  text-align: center;

}

a {
  color: #59103e;
  text-align: center;
  font-size: 100%;
  font-family: 'Ultra', serif;

}

nav ul li a:hover {
  background-color: #edeadf;
  font-size: 150%;

}

#image {
  width: 60%;
  height: auto;
  margin-left: 20%;

}

#content {
  background-color: #c5e8f0;

}
