body {
  background-color: #1f1f1f;

}

@keyframes red {
  from {background-color: red;}
  to {background-color: yellow;}
  to {background-color: blue;}
  to {background-color: violet;}

}

@keyframes yel {
  from {background-color: yellow;}
  to {background-color: blue;}
  to {background-color: violet;}
  to {background-color: red;}

}

@keyframes blu {
  from {background-color: blue;}
  to {background-color: violet;}
  to {background-color: red;}
  to {background-color: yellow;}

}

@keyframes vio {
  from {background-color: violet;}
  to {background-color: red;}
  to {background-color: yellow;}
  to  {background-color: blue;}

}
@keyframes whi {
  from {background-color: cyan;}
  to {background-color: white;}
  to {background-color: cyan;}
  to {background-color: black;}

}

@keyframes cya {
  from {background-color: black;}
  to {background-color: cyan;}
  to {background-color: white;}
  to {background-color: cyan;}

}

@keyframes fancylink {
  0% {color: red;}
  33% {color: yellow;}
  66% {color: blue;}
  100% {color: red;}

}

@keyframes titlewow {
  0% {color: green;}
  33% {color: orange;}
  66% {color: violet;}
  100% {color: green;}

}

#mosaic-box {
  width: 1000px;
  height: 500px;
  margin-left: 10%;
  margin-top: 10px;
  margin-right: 10px;
  border-style: ridge;
  border-width: 8px;
  border-color: #fff4eb;
  border-radius: 4px;
  box-shadow: 0px 0px 12px white;

}

#base-tile {
  float: left;
  background-color: #ffffff;
  width: 5px;
  height: 5px;
  margin-block-start: 0em;
  margin-block-end: 0em;

}

.red {
  float: left;
  width: 5px;
  height: 5px;
  margin-block-start: 0em;
  margin-block-end: 0em;
  animation-name: red;
  animation-duration: 12s;
  animation-iteration-count: infinite;
  animation-direction: alternate;

}

.blue {
  float: left;
  background-color: mediumaquamarine;
  width: 5px;
  height: 5px;
  margin-block-start: 0em;
  margin-block-end: 0em;
  animation-name: blu;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-direction: alternate;

}

.yellow {
  float: left;
  background-color: peachpuff;
  width: 5px;
  height: 5px;
  margin-block-start: 0em;
  margin-block-end: 0em;
  animation-name: yel;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-direction: alternate;

}

.violet {
  float: left;
  background-color: #ffbe00;
  width: 5px;
  height: 5px;
  margin-block-start: 0em;
  margin-block-end: 0em;
  animation-name: vio;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-direction: alternate;

}

.white {
  float: left;
  background-color: snow;
  width: 5px;
  height: 5px;
  margin-block-start: 0em;
  margin-block-end: 0em;
  animation-name: whi;
  animation-duration: 7s;
  animation-iteration-count: infinite;
  animation-direction: alternate;

}

.cyan {
  float: left;
  background-color: #00ffff;
  width: 5px;
  height: 5px;
  margin-block-start: 0em;
  margin-block-end: 0em;
  animation-name: cya;
  animation-duration: 9s;
  animation-iteration-count: infinite;
  animation-direction: alternate;

}

#link {
  display: block;
  margin-left: 32%;
  margin-right: 32%;
  margin-top: 10px;
  padding-top: 4px;
  background-color: #1f1f1f;
  font-family: 'Krona One', sans-serif;
  font-size: xx-large;
  text-shadow: 1px 1px 4px white;
  text-align: center;

}

a {
  text-decoration: none;
  animation-name: fancylink;
  animation-duration: 10s;
  animation-iteration-count: infinite;

}

h1 {
    font-family: 'Krona One', sans-serif;
    font-size: xxx-large;
    text-shadow: 1px 1px 8px white;
    text-align: center;
    animation-name: titlewow;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

/* .red {
  float: left;
  width: 10px;
  height: 10px;
  margin-block-start: 0em;
  margin-block-end: 0em;
  animation-name: fire;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-direction: alternate;

} */
