#content {
  font-family: "helvetica", sans-serif;
  font-size: 120%;

}

img {
  width: 80%;
  height: auto;
  margin: 10%;
  padding: 10px;
  border-image-width: 16px;
  border: double;
  border-color: #59103e;

}
